*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI';
    background-color: white;
    color: black;
    margin: 0;
}

header {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

div img {
    float: left;
    margin: 1rem;
    width: 150px;
}

.flex_div {
    display: grid;
    place-content: center;
}

.logo-font {
    letter-spacing: 1rem; 
    font-size: 1rem;
    font-weight: bold;
}

nav a {
    color: black;
    font-size: 30px;
    text-decoration: none;    
    float: none;
    margin: auto;
    width: auto;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

nav li {
    display: inline;
    margin-right: 0.5rem;
}

.social-logos  {
    display: flex;
    place-content: center;
    text-align: center;
    background-color: rgb(191, 118, 049);
    padding: 1rem;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.logo-white {
    letter-spacing: 1rem; 
    font-size: 1rem;
    font-weight: bold;
}

.ending {
    text-align: center;
    background-color: black;
    padding: 1rem;
    position: fixed;
    width: 100%;
    left: 0;
}

p.ending {
    color: white;
    font-size: medium;
}